*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial, Helvetica, sans-serif;

background:linear-gradient(135deg,#0F4C81,#4A90E2);

color:#333;

line-height:1.6;

padding:20px;

}

header{

text-align:center;

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.2);

margin-bottom:25px;

}

header img{

width:170px;

height:170px;

border-radius:50%;

border:5px solid #0F4C81;

object-fit:cover;

}

h1{

color:#0F4C81;

font-size:40px;

margin-top:15px;

}

h2{

color:#1565C0;

margin-bottom:15px;

}

p{

font-size:18px;

}

section{

background:white;

margin:20px 0;

padding:25px;

border-radius:15px;

}

.card{

box-shadow:0 8px 18px rgba(0,0,0,.15);

}

.skills{

list-style:square;

padding-left:25px;

}

.skills li{

margin:10px;

font-size:18px;

color:#0F4C81;

}

table{

width:100%;

border-collapse:collapse;

}

table th{

background:#0F4C81;

color:white;

padding:15px;

}

table td{

padding:15px;

border:1px solid #ccc;

text-align:center;

}

table tr:nth-child(even){

background:#f2f2f2;

}

.contact{

text-align:center;

}

.contact a{

text-decoration:none;

color:#1565C0;

font-weight:bold;

padding:8px;

}

.contact a:hover{

color:red;

}

footer{

margin-top:30px;

text-align:center;

color:white;

font-size:18px;

}

@media(max-width:768px){

body{

padding:10px;

}

header img{

width:120px;

height:120px;

}

h1{

font-size:28px;

}

h2{

font-size:24px;

}

p,li{

font-size:16px;

}

table{

font-size:14px;

overflow-x:auto;

display:block;

}

}